@charset "UTP-8";
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@600&=swap');
:root{
    --azul:rgb(1, 75, 136);
    --verde:rgba(95, 179, 67, 0.419);
    --verdeescuro:rgba(95, 179, 67);
    --amarelo: rgb(253, 185, 19);
    --cinza: rgb(199, 201, 200);
  
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-destaque: 'Azeret Mono', cursive;
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: var(--verde);
    color: var(--azul);
    font-family: var(--fonte-padrao);
    font-size: 20px;
    text-align: center;
}
header{
    padding: 20px;
    background-color: var(--azul);
    color: var(--verdeescuro);  
    font-family: var(--fonte-destaque);
}
main{
    max-width: 1000px;
    margin: 20px auto;
    padding: 30px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    
}
main h2{
    padding: 2px 2px;
    color:var(--azul);
    margin-top: 10px;
    text-align: left;
 
}

main hr{
    border: 1px solid var(--verde);
}
.image-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

}

figure {
    margin: 10px;
}

img {
    width: 200px;
    height: auto;
    transition: transform 0.3s;
}

img:hover {
    transform: scale(1.05);
}

figcaption {
    font-size: 20px;
}
a{
    color: var(--amarelo);
    text-decoration: none;
}
a:hover{
    color:var(--cinza)

}
table {
    width: 90%;
    max-width: 600px;
    margin: 0 auto 10px;
    border-collapse: collapse;
    background-color: rgba(211, 58, 58, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} 

td {
    padding: 5px;
    border: 2px solid var(--verde);
    text-align: center;
}                                                                                                            
footer {
    padding: 10px;
    background-color: var(--azul);
    color: var(--cinza); 
}

@media (max-width: 768px) {
    .image-container {
        flex-direction: column;
        align-items: center;
    }
    table, th, td {
        font-size: 0.9em;
    }
}